<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Library Checkout Record</title>
</head>
<body>

<form th:method="post" th:action="@{/checkout}" th:object="${checkoutRecord}">
    <br/>

    <label for="person">Select Person: </label>
    <select th:field="*{person.id}" id="person">
        <option th:each="person : ${people}" th:value="${person.id}" th:text="${person.lastName + ' ' + person.firstName + ' ' + person.patronymic}"></option>
    </select>
    <br/>

    <label for="book">Select Book: </label>
    <select th:field="*{book.id}" id="book">
        <option th:each="book : ${books}" th:value="${book.id}" th:text="${book.title + ', ' + book.getAuthor()}"></option>
    </select>
    <br/>

    <input type="submit" value="Create"/>
</form>

</body>
</html>